.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }
  
  .projects-container .project-card {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-size: cover;
    background-position: center;
  }
  
  .projects-container .project-card.projeto1 {
    background-image: url('/public/images/imagemfundo.JPG');
  }
  
  .projects-container .project-card.projeto2 {
    background-image: url('/public/images/imagemfundo.JPG');
  }
  
  .projects-container .project-card.projeto3 {
    background-image: url('/public/images/imagemfundo.JPG');
  }
  
  .projects-container .project-card:hover {
    transform: scale(1.05); /* Leve aumento do cartão */
  }
  
  .project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    text-align: left;
    overflow: hidden; /* Garante que conteúdo extra não ultrapasse */
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .projects-container .project-card:hover .project-description {
    opacity: 1;
  }
  
  .section-title {
    font-family: 'MinhaFonteHiTech', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  